/* General */
html, body {
    background-color: #396176;
}

/* Content Component */
.Content5DaysCardsContainer {
    background-color: #16394C;
    color: #fff;
}

.ContentCurrentDayCardsContainer {
    background-color: #16394C;
    color: #fff;
}

.Content5DaysCardsContainer {
    background-color: #16394C;
    color: #fff;
}